<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="YourLogoPages Tests Suite"  thread-count="1">

       <listeners>
            <listener class-name="utilities.TestListener"/>
        </listeners>

        <test name="Test1" >
            <classes>
                <class name="YourLogo.SignUp"/>
            </classes>
        </test>

        <test name="TestCase2" >
            <classes>
                <class name="YourLogo.Login"/>
            </classes>
        </test>

        <test name="TestCase3" >
            <classes>
                <class name="YourLogo.Shopping"/>
            </classes>
        </test>

        <test name="TestCase4" >
            <classes>
                <class name="YourLogo.DressesShopping"/>
            </classes>
        </test>


</suite>
